.brands {
  color: var(--black);
  background-color: var(--gold-15);

  &__title {
    margin: 0;
    margin-bottom: 24px;
  }

  &__item {
    border: 1px solid var(--gray-85);
    padding: 8px;
    border-radius: 6px;
    margin-bottom: 30px;

    & img {
      display: inline-flex;
    }
  }

  &__list {
    margin-bottom: -30px;
  }

  @include media-min ($xl) {
    &__title {
      margin-bottom: 64px;
    }

    &__item {
      filter: grayscale(1);

      @include any-hover {
        transition: filter var(--duration-slow) ease-in-out;

        &:hover {
          filter: grayscale(0);
        }
      }
    }
  }
}