.hero {
  position: relative;
  color: var(--white);
  background-color: var(--gray-15);

  &__slide {
    position: relative;
    min-height: 735px;
    display: flex;
    padding: 132px 0;

    &::before {
      @include full-size;

      content: '';
      pointer-events: none;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
      background-size: cover;
      z-index: 2;
    }
  }

  &__cover {
    @include full-size;

    z-index: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2;
  }

  &__title {
    margin: 0;
    margin-bottom: 32px;
    width: 100%;
    max-width: 540px;
  }

  &__text {
    margin: 0;
    margin-bottom: 32px;
    font-weight: 400;
    width: 100%;
    max-width: 540px;
  }

  &__controls {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }

  @include media-min ($xl) {
    &__slide {
      min-height: 700px;
    }

    &__wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
    }

    &__title {
      margin: 0;
      margin-right: 30px;
      line-height: 1.2;
    }

    &__descr {
      display: flex;
      flex-direction: column;
    }

    &__slide-btn {
      align-self: flex-end;
    }

    &__controls {
      bottom: 20px;
      opacity: 0.6;

      @include any-hover {
        transition: opacity var(--duration-default) ease-in-out;

        &:hover {
          opacity: 1;
        }
      }
    }
  }

  @include media-min ($xxl) {
    &__slide {
      min-height: 940px;
      padding: 124px 0 190px;
    }

    &__title {
      max-width: 915px;
      padding-right: 132px;
    }

    &__text {
      max-width: 645px;
    }

    &__controls {
      bottom: 40px;
      opacity: 0.6;
    }
  }
}