.hero {
  position: relative;
  color: var(--white);
  background-color: var(--gray-15);

  &__slide {
    position: relative;
    display: flex;
    padding: 96px 0 160px;
    min-height: 435px;
    height: calc(100 * var(--vh, 1vh));

    &::before {
      @include full-size;

      content: '';
      pointer-events: none;
      background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
      background-size: cover;
      z-index: 2;
    }
  }

  &__cover {
    @include full-size;

    z-index: 1;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    z-index: 2;
  }

  &__title {
    margin: 0;
    font-size: 42px;
    line-height: 0.9;
    text-transform: uppercase;
  }

  &__controls {
    position: absolute;
    bottom: 40px;
    z-index: 3;
  }

  @include media-min ($xl) {
    &__slide {
      min-height: 600px;
      height: auto;
      padding: 196px 0;
    }

    &__content {
      position: relative;
      justify-content: flex-start;
      padding-left: 290px;

      &::before {
        content: '';
        position: absolute;
        left: 15px;
        top: -196px;
        width: 255px;
        height: 476px;
        background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.15) 0%, transparent 100%);
      }
    }

    &__title {
      font-size: 64px;
    }

    &__controls {
      bottom: 60px;
      transform: translateX(280px);
    }
  }

  @include media-min ($xxl) {
    &__slide {
      min-height: 900px;
      padding: 256px 0 196px;
    }

    &__content {
      padding-left: 405px;

      &::before {
        top: -256px;
        width: 375px;
        height: 700px;
      }
    }

    &__title {
      font-size: 96px;
    }

    &__controls {
      transform: translateX(395px);
    }
  }
}