.decorated-pagination {
  position: relative;
  display: flex;
  justify-content: center;

  &::before,
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 50%;
    width: calc(50% - 70px);
    height: 1px;
    background-color: var(--gray-85);
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}
