.header-page {
  color: var(--black);
  background-color: var(--white);
  min-height: 256px;
  padding-top: 128px;
  padding-bottom: 32px;

  &--covered {
    --bc-item-color: var(--white);

    color: var(--white);
    background-color: var(--gray-15);
    background-image: var(--bg-url, none);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-image: fill 0 linear-gradient(to bottom, rgba(0, 0, 0, 1), transparent);
  }

  &__bc {
    margin-bottom: 24px;
    color: var(--bc-item-color, var(--gray-60));

    & a,
    & span {
      color: inherit;
    }

    @include any-hover {

      & a {
        transition: color var(--duration-default) ease-in-out;

        &:hover {
          color: var(--gold);
        }
      }
    }
  }

  @include media-min ($xl) {
    min-height: 320px;
    padding-top: 184px;
    padding-bottom: 48px;
  }

  @include media-min ($xxl) {
    min-height: 424px;
    padding-top: 256px;
    padding-bottom: 64px;
  }
}
