.modal {
  position: relative;
  width: 100%;
  color: var(--black);
  background-color: var(--white);
  padding: 48px 15px 24px;
  border-radius: 6px;

  &__close {
    @include btn-reset;

    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: var(--gray-60);
  }
}