.product-slider-card {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 8px;
  border-radius: 6px;
  color: var(--black);
  background-color: var(--card-bg, var(--white));
  border: 1px solid var(--card-border, var(--gray-85));
  overflow: hidden;
  transition: background-color var(--duration-slow) ease-in-out, border-color var(--duration-slow) ease-in-out;

  &:focus-within {
    --title-color: var(--gold);
    --text-color: var(--black);
    --img-scale: 1.09;

    background-color: var(--gold-15);
    border-color: var(--gold-40);
  }

  @include any-hover {
    &:hover {
      --title-color: var(--gold);
      --text-color: var(--black);
      --img-scale: 1.09;

      background-color: var(--gold-15);
      border-color: var(--gold-40);
    }
  }


  &__img {
    position: relative;
    width: 100%;
    overflow: hidden;
    max-width: none;
    padding-bottom: 128%;
    height: 0;

    & img {
      @include full-size;

      z-index: 1;
      transition: transform var(--duration-slow) ease-in-out;
      transform: scale(var(--img-scale, 1.01));
    }
  }

  &__meta {
    flex-grow: 1;
    padding: 8px 6px;
  }

  &__title {
    margin: 0;
    font-family: $main-font, Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.3;
    color: var(--title-color, var(--black));
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: color var(--duration-slow) ease-in-out;
  }

  &__text {
    margin: 0;
    padding: 0;
    color: var(--text-color, var(--gray-60));
    font-weight: 400;
    overflow: hidden;
    height: 0;
    display: -webkit-box;
    text-overflow: ellipsis;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    transition: color var(--duration-slow) ease-in-out;
  }

  &__link {
    &::after {
      @include full-size;

      content: '';
      z-index: 2;
    }
  }

  @include media-min ($xl) {
    flex-direction: column;

    &__img {
      padding-bottom: 0;
      max-width: none;
      height: 300px;
    }

    &__title {
      margin-bottom: 12px;
    }

    &__text {
      font-size: 16px;
      height: auto;
    }
  }

  @include media-min ($xxl) {
    padding: 16px;

    &__img {
      max-width: none;
      height: 400px;
    }

    &__meta {
      padding: 12px 8px;
    }

    &__title {
      font-size: 18px;
    }
  }
}
